{% extends 'main.html' %}
{% load static %}

{% block title %}
cart
{% endblock title %}



{% block content %}


    <h2> {{order.get_cart_total}} </h2>
    <br>
    <h2> {{order.get_cart_items}} </h2>
    <hr>
{% for item in items %}

   

    <img src="{{item.product.imageURL}}" >
    <br>
    <h3> {{item.product.name}} </h3>
    <br>
    <p> {{item.product.price}} </p>
    <br>
    <p> {{item.quantity}} </p>
    <br>
    <p> {{item.get_total}} </p>
    <br>

     <img   data-product="{{item.product.id}}"  data-action="add"  class="update-cart" style="height:20px; width:20px" src="{% static 'images/arrow-up.png' %}" > 
    <br>
     <img   data-product="{{item.product.id}}"  data-action="remove" class="update-cart" style="height:20px; width:20px" src="{% static 'images/arrow-down.png' %}" > 
    
    <hr>
{% endfor %}



{% endblock content %}