{% extends 'main.html' %}

{% block title %}
Registertion
{% endblock title %}


{% block content %}

<form method="POST">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Enter your username" >
    <br>
    <input type="email" name="email" placeholder="Enter you email" >
    <br>
    <input type="password" name="password1" placeholder="Enter your password" >
    <br>
    <input type="password" name="password2" placeholder="Confirm your password" >
    <br>
    <button type="submit" > Register </button>

</form>

{% endblock content %}